.profile-thumbnail {   /* 略缩图 */
    position: absolute;
}
.page-header {  /* 页眉 */
    min-height: 260px;  /* px=pixel 像素 */
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {  /* ul=unordered list */
    list-style-type: none;  /* 定义每列前的标号 */
    padding: 0px;   /* 填充 */
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {    /* hover(盘旋，徘徊)：鼠标浮动到目标上时呈现的样子 */
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold; /* 粗体 */
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;  /* 规定元素中文本的水平对齐方法 */
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1){   /* :nth-child(n) 选择器匹配属于父元素的第n个子元素，不论元素的类型 */
    border-top: 1px solid #e0e0e0;     /* n可以是数字、关键词或公式 */
}
ul.comments li.comment:hover {
    background: #f0f0f0;
}
div.comment-data {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {    /* 页码 */
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120;
}
.post-body h2 {
    font-size: 140;
}
.post-body h2 {
    font-size: 130;
}
.post-body h3 {
    font-size: 120;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}






















